
body {
    font-family: Arial, sans-serif;
    background-color: #255000;
    text-align: center;
    color: white;
    padding: 20px;
    width: 100%;
}

main{
    display: flex;
    gap: 40px;
}

.all{
    border: solid blue;
}

.C{
    background: #FF8B;
    border: solid black;
}

.Info{

    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.h{
    width: 100%;
    height: 70px;
    font-size: 48px;
    font-family: cursive;
}

.joaoFrango{
    height: 350px;
    width: 347;
    display: flex;
    border: solid black;
}

.email{
    margin-top: 10px;
    margin-left: 10px;
    
    
}

.email > img{
    height: 40px;

}

.email{
    display: flex;
    gap: 10px;
}

.email > h3{
    font-size: 20px;
    margin-top: 6px;
}

.phone > img{
    height: 35px;
}

.phone{
    display: flex;
    gap: 10px;
    margin-left: 50;
    margin-left: 10px;
    
}

.phone > h3{
    font-size: 20px ;
    margin-top: 5px;
}

.birthday > h3 {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 35%;

}

.linkedIn > img{
    height: 35px;
}

.linkedIn{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.Github > img{
    height: 35px;
}

.Github {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

main > .ProfissionalExperiences{
    background: #000;
    text-align: end;
}