/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive, Arial, sans-serif;
    background-color: #083D77;
    color: white;
    padding: 20px;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    gap: 40px;
    margin-top: 30px;
}

.all {
    flex: 2 2 600px; /* Flexível, com largura mínima de 300px */
    max-width: 1800px; /* Largura máxima */
}

.C {
    background: #F4D35E;
    border: solid #DA4167;
    display: flex;
    flex-direction: column;
}



.Info {
    border-radius: 10px;
    flex: 1 1 30%; /* Flexível, com largura mínima de 30% */
    display: flex;
    flex-direction: column;
    color: #DA4167;
    
}

.h {
    width: 100%;
    height: 70px;
    font-size: 48px;
}

.joaoFrango {
    height: auto; /* Altura automática para manter a proporção */
    width: 100%; /* Largura responsiva */
    max-width: 360,px; /* Largura máxima */
    display: flex;
    border: solid #DA4167;
}



.email, .phone, .linkedIn, .Github, .birthday {
    display: flex;
    margin: 7px ; 
    
}

.email > img, .phone > img, .linkedIn > img, .Github > img {
    height: 35px; /* Altura consistente para ícones */
    margin-right: 10px; /* Espaçamento entre ícone e texto */
}

.email > h3, .phone > h3, .birthday > h3 {
    font-size: 20px;
}




.ProfissionalExperiences{
    border: solid 5px;
    color: #DA4167;
    background-color: #F4D35E;
    
}

.ProfissionalExperiences > h1{
    margin: 15px;
}



.Academy, .Conheço {
    margin: 50px 0; 
    border: solid 5px;
    color: #DA4167;
    background-color: #F4D35E;
}

.Academy > h1 {
    margin: 15px;
}

.languages > h1{
margin: 15px;
}

.Idioma > div{
    margin: 15px;
}

.textExp, .textAcad, .textExp2, .textExp3, .textAcad2, .textAcad3 {
    text-align: start;
    margin-left: 30px; 
    gap: 15px;
}

.languages {
width: 100%;
background: #F4D35E;;
border: solid 7px;
color: #DA4167;
}

.languages > div {
    margin-left: 30px;
}

.languages> h2{
    text-align: start;
}

.Idioma{
    margin: 50px 0;
    background: #F4D35E;
    border: solid 5px;
    color: #DA4167;
}

.Idioma > div >h3{
    margin-left: 30px;
    font-size: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Coloca os itens em coluna em telas menores */
    }

    .Info {
        width: 100%; /* Largura total em telas menores */
        margin-top: 50px;
    }

    .all {
        width: 100%; /* Largura total em telas menores */
    }
}
